fastapi>=0.140.0
uvicorn[standard]==0.35.0
gunicorn
numpy==2.2.6
soundfile==0.13.1
httpx==0.28.1
torch==2.8.0
torchaudio==2.8.0
dots.tts>=0.3.1
ffmpeg-python>=0.2.0
pytorch-lightning>=2.4
peft>=0.18.0
g2p_en
matplotlib
jieba
pypinyin
wordsegment
chardet
sentencepiece
rotary_embedding_torch
x_transformers
cn2an
split-lang
fast_langdetect>=0.3.1
